extends layout

block content
  .titledGrid
    .title All Books
    div(id='bookList' class='ag-theme-balham-dark myGrid')
  div(class="titledGrid")
    div(class='title') My Books
    select(style="margin-top: 5px;" id="myBookLists" name="Files")
    div(id='myBookList' class='ag-theme-balham-dark myGrid')
  #buttons
    button#addList New List
    button#deleteList Delete List
    button#saveList Save List

  script(src='www/js/library.js')
