nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
    
            .sb-sidenav-menu-heading
                | Core
        
            a.nav-link(href='index.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | Dashboard

            a.nav-link(href='library.html') 
                .sb-nav-link-icon
                    i.fas.fa-book-open
                | Book Library

            a.nav-link(href='mining.html') 
                .sb-nav-link-icon
                    i.fas.fa-utensil-spoon
                | Sentence Mining
                
                        
    .sb-sidenav-footer
        
        .small Logged in as:
        | Start Bootstrap
