nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark

    // Navbar Brand
    a.navbar-brand.ps-3(href='index.html')
        | IMMERSE YOURSELF 

    // Sidebar Toggle
    button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0.me-auto(href='#!')
        i.fas.fa-bars

    // Navbar Search
    button#toggleButton.btn.btn-primary.m-1 Toggle Migaku
    button#parseButton.btn.btn-primary.m-1 Migaku Parse
    button#syncButton.btn.btn-primary.m-1 Sync Anki
    button#saveProgress.btn.btn-primary.m-1 Save Progress

    // Navbar
    ul.navbar-nav.ms-auto.ms-md-0.me-3.me-lg-4
        li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                i.fas.fa-user.fa-fw
            ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
                li
                    a.dropdown-item(href='#!') Settings
                li
                    a.dropdown-item(href='#!') Activity Log
                li
                    hr.dropdown-divider
                li
                    a.dropdown-item(href='#!') Logout

