extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Book Words'
    - var sidenavStyle = 'sb-sidenav-dark'

block content

  .container-fluid.h-100
    .d-flex.flex-column.h-100
      include includes/page-header.pug
      .row
        .col-8
          button#showKnown.btn.btn-primary Show Known
          button#showUnknown.btn.btn-primary Show Unknown

        .col-4
          select#jsonFiles.form-select

      .row.flex-grow-1
        #docWordGrid.ag-theme-material

append scripts
    script(src='js/tableDefn.js')
    script(src='js/bookWords.js')
