extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Learn Chinese';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'
    
prepend css
    //- Load Simple DataTables Stylesheet
    link(href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css', rel='stylesheet')

block content
    .container-fluid.px-4
        include includes/page-header.pug
        .row
            .col-xl-6
                .card.mb-4
                    .card-header
                        i.fas.fa-chart-area.me-1
                        | Look how many words you are learning 
                    .card-body
                        canvas#myAreaChart(width='100%', height='40')
                    
            .col-xl-6
                .card.mb-4
                    .card-header
                        i.fas.fa-chart-bar.me-1
                        | Such Progress
                    .card-body
                        canvas#myBarChart(width='100%', height='40')

        .row
          #myAnkiInfo
        

append scripts
    //- Load Chart.js and demos
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
    script(src='assets/demo/chart-area-demo.js')
    script(src='assets/demo/chart-bar-demo.js')
    script(src='js/index.js')
