extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Library'
    - var sidenavStyle = 'sb-sidenav-dark'

block content

  .container-fluid.h-100.px-4
    .d-flex.flex-column.h-100
      .row
        .col-6
          include includes/page-header.pug
        .col-6.mt-auto.mb-4
          .input-group
            button#openList.btn.btn-primary Open List
            select#myBookLists.form-select(name="Files")

      .row.flex-grow-1
          #bookList.ag-theme-material


append scripts
    script(type='module', src='js/library.js')

