extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Library'
    - var sidenavStyle = 'sb-sidenav-dark'

block content

  .container-fluid.px-4
      include includes/page-header.pug
      .row
        .col-xl-6
            .card.mb-4
              .card-header
                | All Books
              .card-body
                div(id='bookList' class='ag-theme-balham-dark myGrid')

        .col-xl-6
            .card.mb-4
              .card-header
                | My Books
              .card-body
                select(style="margin-top: 5px;" id="myBookLists" name="Files")
                div(id='myBookList' class='ag-theme-balham-dark myGrid')
      .row
        #buttons
          button#addList New List
          button#deleteList Delete List
          button#saveList Save List

append scripts
    script(src='js/library.js')
