extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Library'
    - var sidenavStyle = 'sb-sidenav-dark'

block content

  .container-fluid.px-4
      .row
        .col-6
          include includes/page-header.pug
        .col-6.mt-auto.mb-4
          .input-group
            button#addList.btn.btn-primary New List
            button#deleteList.btn.btn-primary Delete List
            button#saveList.btn.btn-primary Save List
            button#openList.btn.btn-primary Open List
            select#myBookLists.form-select(name="Files")

      .row
        .col-xl-6
            .card.mb-4
              .card-header
                | All Books
              .card-body
                div(id='allBookList' class='ag-theme-material myGrid')

        .col-xl-6
            .card.mb-4
              .card-header
                | My Books
              .card-body
                div(id='myBookList' class='ag-theme-material myGrid')

append scripts
    script(type='module', src='js/listManager.js')

