extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Mining'
    - var sidenavStyle = 'sb-sidenav-dark'

block content

  .container-fluid.h-100.px-4
    .d-flex.flex-column.h-100
      .row
        .col-6
          include includes/page-header.pug
        .col-6.my-auto.ms-auto
          #stats
            div Total number of unknown words in 1T sentences:
              span#oneTwords 
              |(Currently know 
              span#known
              |p of the book)
            div Total number of occurances covered: 
              span#occurances
              |(
              span#percent 
              |p of the total book)

      .row
        .col-7
          button#loadAll.btn.btn-primary Load all
          button#loadKnown.btn.btn-primary Load well known
          button#toWords.btn.btn-primary To Words

        .col-5
          .input-group
            button#showfavorite.input-group-text.btn-primary Show Favorites
            select#jsonFiles.form-select

      .row.flex-grow-1
        #sentenceGrid.ag-theme-material

append scripts
    script(type='module', src='js/tableDefn.js')
    script(type='module', src='js/mining.js')
