extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Mining'
    - var sidenavStyle = 'sb-sidenav-dark'

block content

  .container-fluid.h-100
    .d-flex.flex-column.h-100
      include includes/page-header.pug
      .row
        .col-8
          button#toggleButton.btn.btn-primary Toggle Migaku
          button#parseButton.btn.btn-primary Migaku Parse
          button#syncButton.btn.btn-primary Sync Anki
          button#saveProgress.btn.btn-primary Save Progress
          button#loadAll.btn.btn-primary Load all
          button#loadKnown.btn.btn-primary Load well known
          button#showfavorite.btn.btn-primary Show Favorites

        .col-4
          select#jsonFiles.form-select

      .row.flex-grow-1
        #sentenceGrid.ag-theme-material

append scripts
    script(src='js/tableDefn.js')
    script(src='js/mining.js')
