
#migaku-toolbar-container {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}


#sentenceGrid {
  font-size: 25px;
  min-height: 200px;

}

.myGrid {
  height: 500px;
}

.titledGrid {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}


.bg-purple {
  background: rgb(48, 0, 50);
}

.bg-gray {
  background: rgb(74, 74, 74);
}

.bg-blue {
  background: rgb(50, 101, 196);
}

.bg-red {
  background: rgb(196, 50, 53);
}
