#migaku-toolbar-container {
  display: none;
}

#jsonFiles {
  // display: inline-block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.ag-theme-material .ag-cell {
  line-height: 25px !important;
}

#docWordGrid,
#sentenceGrid {
  font-size: 25px;
  min-height: 200px;
}

#bookList {
  font-size: 25px;
  min-height: 200px;
}

.myGrid {
  height: 500px;
}

.titledGrid {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}

.centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.markLearned {
  margin: 0;
  font-weight: 900;
  background-color: #d91a1a;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 900;
  padding: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

.markLearned:hover {
  background-color: #18a30f;
}

h2 {
  color: #2f8d46;
}
#form {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#form fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

.finish {
  text-align: center;
}

#form fieldset:not(:first-of-type) {
  display: none;
}

#form .previous-step,
.next-step, #createCard {
  width: 100px;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

.form,
.previous-step {
  background: #616161;
}

.form,
.next-step, #createCard {
  background: #2f8d46;
}

#form .previous-step:hover,
#form .previous-step:focus {
  background-color: #000000;
}

#form .next-step:hover,
#form .next-step:focus {
  background-color: #2f8d46;
}

.text {
  color: #2f8d46;
  font-weight: normal;
}
