
#migaku-toolbar-container {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.ag-theme-material .ag-cell {

  line-height: 25px !important;

}


#sentenceGrid {
  font-size: 25px;
  min-height: 200px;

}

.myGrid {
  height: 500px;
}

.titledGrid {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}

.centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.markLearned {
  margin: 0;
  font-weight: 900;
  background-color: #d91a1a;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 900;
  padding: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

.markLearned:hover {
  background-color: #18a30f;
}
