doctype html

block config
    - var pageTitle = "Page Title"

html(lang='en')

    head

        include includes/head/meta.pug
        include includes/head/title.pug
        include includes/head/css.pug
        include includes/head/icons.pug
        script(src='ag-grid-community.min.noStyle.js')
        script(src='js/shared.js')
        script(src='js/agFilters.js')
        script(src='js/agRenderers.js')
        script(src='js/spinner.js')

    body(class=bodyClass)

        include includes/navigation/topnav.pug

        #layoutSidenav
            
            #layoutSidenav_nav

                include includes/navigation/sidenav.pug

            #layoutSidenav_content
                
                main.h-100
                    block content


        include includes/scripts.pug
