doctype html

block config
    - var pageTitle = "Page Title"
    - var showSideBar = false

html(lang='en')

    head

        include includes/head/meta.pug
        include includes/head/title.pug
        include includes/head/css.pug
        include includes/head/icons.pug
        script(src='ag-grid-community.min.noStyle.js')
        script(type='module', src='js/shared.js')
        script(type='module', src='js/agFilters.js')
        script(type='module', src='js/agRenderers.js')
        script(type='module', src='js/spinner.js')

    if showSideBar
      body(class="bodyClass")
    else
      body(class="bodyClass sb-sidenav-toggled")

    include includes/navigation/topnav.pug

    #layoutSidenav
        
        #layoutSidenav_nav

            include includes/navigation/sidenav.pug

        #layoutSidenav_content
            
            #loader
            main.h-100
                block content

    include includes/scripts.pug
