html,
body {
  height: 100%;
  margin: 0;
  background-color: #202020;
  color: rgba(245, 245, 245, 0.64);
  color-scheme: dark;
}

#migaku-toolbar-container {
  display: none;
}

.myGrid {
  height: 500px;
}

.titledGrid {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}

