html,
body {
  height: 100%;
  margin: 0;
  background-color: #202020;
  color: rgba(245, 245, 245, 0.64);
  color-scheme: dark;
}

#migaku-toolbar-container {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

#layoutTopnav {
  height: 50px;
  background-color: #4e88d2;
}

#layoutSidenav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

#layoutSidenav_nav {
  flex: 0 1 auto;
  width: 150px;
  height: 100%;
  background-color: #4e887a;
}

#layoutSidenav_content {
  flex: 1 1 auto;
  height: 100%;
  margin: 0 0  0 10px;
}

.myGrid {
  height: 500px;
}

.titledGrid {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}

